- unless current_user.site
  - if allow_site_select?
    %p
      %label{:for=>"role_site_id", :class => "admin_only"}
        Site
      - sites = Site.find(:all).map { |s| [s.name, s.id] }
      - selection = {:include_blank => Role.is_shareable?}
      - selection[:selected] = current_site.id if @role.new_record? && ! Role.is_shareable?
      = select :role, :site_id, sites, selection
